{% extends '@EasyAdmin/page/content.html.twig' %}
{% block main %}
<div class="d-flex justify-content-center bg-transparent w-100">
  <div class="p-5 d-flex flex-column justify-content-center">
    <h1>Sistema UMAD</h1>
  </div>
</div>
<p>Bienvenido al panel administrador del sistema UMAD, desde aquí podrás gestionar toda la información relevante tanto para el Admin como para el Usuario final.</p>
<footer class="position-absolute bottom-0 d-flex gap-1 align-items-center mb-1">
  <p class="fs-5 mb-0">Municipalidad de La Plata</p>
  <img src="/images/munilogo2.png" alt="logo municipalidad" style="width:auto; height:50px;">
</footer>
{% endblock %}