{% extends '@EasyAdmin/page/content.html.twig' %}
{% block main %}
<div class="bg-white w-100 h-100">
  <div class="p-4 bg-red w-100 h-100">
    <p class="fs-4 font-bold text-black">TESTING</p>
  </div>
</div>
{% endblock %}