{% extends 'base.html.twig' %}

{% block body %}
<div class="h-100 w-100 d-flex align-items-center">
  <div class="d-flex flex-column align-items-center w-100 gap-3" style="padding-bottom:10rem;">
    <h1>Error 403. Forbidden.</h1>
    {# <img src="https://media.tenor.com/Vyg73kR334sAAAAC/jurassic-park-ah.gif" style="width:200px; height: 200px; border-radius:2rem;"> #}
  </div>
</div>
{% endblock %}